* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.newTaskContainer {
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
}

#taskInput {
    background-color: rgb(212, 204, 178);
    font-size: 1rem;
    border: 0;
    padding: 1rem;
    
}

#taskInput:focus {
    outline: none;
}

#addBtn {
    height: 100%;
    border: 0;
    color: rgb(84, 172, 110);
    background-color: rgb(44, 44, 44);
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

#addBtn:hover {
    background-color: rgb(84, 172, 110);
    color: rgb(44, 44, 44);
}


.taskList {
    display: block;
    background-color: rgb(212, 204, 178);
    padding: 1rem 2rem;
    border-radius: 20px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: .3rem 0;
    border-bottom: 1px solid rgb(70, 70, 70);
    align-items: baseline;
    cursor: pointer;
}


li .fa-regular {
    flex: 1;
    font-size: 1rem;
    
}

li .taskContent {
    flex: 6;
}

li .fa-trash {
    transition: .3s;
}

li .fa-trash:hover {
    color: red;
}

li:hover .taskContent {
    color: rgb(179, 122, 37);
    transition: .3s;
}

.taskCompleted .taskContent {
    color: rgb(100, 96, 96);
    text-decoration: line-through;
}

.taskCompleted:hover .taskContent {
    color: rgb(100, 96, 96);
    text-decoration: line-through;
}

#clearContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#clearAll {
    border: 0;
    color: rgb(236, 96, 96);
    background-color: rgb(44, 44, 44);
    font-size: .8rem;
    padding: .5rem;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
    margin-top: .6rem;
    border-radius: 1em;
}

#clearAll:hover {
    background-color:rgb(236, 96, 96);
    color: rgb(44, 44, 44);
}